<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/service">Service</a>
      <a href="/contact">Contact</a>
    </nav>

    <h1>Welcome to my Web Application</h1>
    <p>Keep showing up Temi!</p>
  </body>
</html>
