<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/service">Service</a>
      <a href="/contact">Contact</a>
    </nav>

    <h1>Service We Render!</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam asperiores
      maiores dolore possimus. Ut corrupti minima quis laboriosam assumenda
      earum vitae quae ipsam, placeat dolorem libero, quidem provident a?
    </p>
  </body>
</html>
